.row-heading
{
  font-size:1.3rem;
  font-weight:bold;
}
.total
{
  font-size:2rem;
  font-weight:bold;
}
.total-val
{
  font-size:2rem;
  border:
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@keyframes flash-gradient {
  0% {
    background-image: linear-gradient(to right, #007BFF33, #007BFF66);
    background-color: #007BFF33;
  }
  100% {
    background-image: none;
    background-color: transparent;
  }
}

.flash-gradient {
  animation: flash-gradient 0.6s ease;
}
